[submodule "frontend/theme"]
	path = frontend/theme
	url = https://github.com/casefoundation/IIRMa-Frontend.git
[submodule "backend/laravel"]
	path = backend/laravel
	url = https://github.com/casefoundation/IIRMa-Backend.git
